# Python introduction
## Expressions and values
### Basic arithmetic

Put the cursor in the "In" boxes below and click the "run" button (or press shift+enter on your keyboard) to see the result.

Please think about the results. Make sure you understand why Python outputs each result.

In [27]:
3+4

7

In [28]:
3+4-5.25

1.75

\* for multiply, / for divide

In [29]:
7/2*5

17.5

\*\* for exponentiation (raise to power)

In [30]:
2**5

32

Try a few arithmetic expressions of your own below.
You can add more cell by clicking on the "+" button or by pressing "Escape", followed by "b".

There are two types of numbers: **integers (whole numbers)** and **floating point numbers** (with a fractional part).

- 1, 10 and 42 are integers
- 1.02, 3.14 and 10.0 are floating point numbers

*Try multiplying two integer numbers together, and then a integer with a floating number. In each case notice the type of the result.*

In [31]:
2*1.5

3.0

In [32]:
2*4

8

Multiplication and division have higher precedence than addition and substraction (they happens before addition & substraction).

In [33]:
2+3*5

17

Maybe this isn't what you meant. You can use parentheses to give priority to specific operations.

In [34]:
(2+3)*5

25

Parentheses in expressions are not always necessary, but they can make expressions clearer.

### **Python 3** has some special operators that get integer results. 

- `//` is integer divide (throw the fractional part away).

- `%` is the modulo operator ... it finds the remainder, this will come in handy for codons later on in the course (think codons and dividing by 3)

- `divmod()` finds both the quotient and the remainder as a pair of values.

For example this expression asks how many times does three fit into 7, throw away the remainder

In [35]:
7//3

2

This expression ask ONLY for the remainder

In [36]:
9%2

1

This expression gets both the quotient and the remainder

In [37]:
divmod(9, 2)

(4, 1)

You may be thinking, I am never going to use these functions, however...for DNA we often care about multiples of three...

In [38]:
divmod(1464, 3)

(488, 0)

### String expressions

Computing isn't all about numbers. A "value" can be a string of characters. And some of Python's operators can be used to create new strings from old ones.

Here are some examples of *string expressions*.

In [39]:
"abc"+"def"

'abcdef'

In [40]:
"abc"*5

'abcabcabcabcabc'

Clearly, you can multiply a string by a number.

*What happens if you try to add a number to a string?* Try it for yourself in the cell below.

In [41]:
"abc"+5

TypeError: can only concatenate str (not "int") to str

A string can start with either a single or a double quote ... but each string must end with same character as it started with.

In [43]:
'abc'

'abc'

In [44]:
"abc" + 'def'

'abcdef'

This can be handy if you need a string like this ...

In [45]:
"Fred's important stuff."

"Fred's important stuff."

There is a way to include both types of quotes in a string. The back-slash character sort-of hides the end-of-string meaning of quotes within a string.

In [46]:
"Fred's \"important\" stuff (in double quotes)."

'Fred\'s "important" stuff (in double quotes).'

In [47]:
print("Fred's \"important\" stuff (in double quotes).")

Fred's "important" stuff (in double quotes).

There are also some special characters ... like the newline character (\n) ... that you can put into a string.

In [48]:
"Line 1.\nLine2."

'Line 1.\nLine2.'

We can also represent tabs in this format

In [49]:
"Column_1. \tColumn_2."

'Column_1. \tColumn_2.'

#### Let's introduce our first "Built-in" python function print()
* use tab completion to find built-in functions
* use shift + tab to access doc-strings in jupyter

**functions must be closed parentheses ()**

In [50]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [51]:
print() #shift+tab

#### A function may take zero or more arguments.
We have seen print and divmod already — now let’s take a closer look.
An argument is a value passed into a function.

* An argument is a value passed into a function.
* print takes zero or more.
* print with no arguments prints a blank line.
* Must always use parentheses, even if they’re empty, so that Python knows a function is being called.

In [52]:
divmod()

TypeError: divmod expected 2 arguments, got 0

In [54]:
print()

## Some more special values

Python has a few other special values: True, False and None.

None is just an "empty" value. There's not much about it.

**True and False are called Booleans.**

There are some *relational opeators* that give either True or False as a result. These include:
- less than: **<**
- greater than: **>**
- equal: **==**
- not equal: **!=**
- less than or equal: **<=**
- greater than or equal: **>=**

Check the results of all the following expressions. *Do they all make sense to you?*

In [55]:
2>3

False

In [56]:
3+2>=5

True

In [57]:
None

In [58]:
'abc'=="abc"

True

In [59]:
not False

True

In [60]:
not not True

True

In [61]:
True!=True, True==None

(False, False)

In [62]:
"abc" == 'abc'

True

### Numbers vs Strings

Numbers and strings are different ... even if they look the same. Python has functions that allow you to convert between the types.

In [63]:
str(100+1)

'101'

Do you remember the error you had above when adding a number to a string? Now try this:

In [64]:
"abc" + str(123)

'abc123'

In [65]:
int('27')

27

In [66]:
float('27.3')

27.3

In [67]:
float('27')

27.0

In [68]:
float(27,5)

TypeError: float expected at most 1 argument, got 2

Write code to convert the string "42.0" to an integer.

### Assigning values and strings to objects (variables)
Python is similar to bash and we use the "=" to assign a value to a variable which we can manipulate further

### Variable names
1. Can only contain letters, digits, and underscore _ (typically used to separate words in long variable names)
1. Cannot start with a digit
1. Are case sensitive (age, Age and AGE are three different variables)
1. Variable names that start with underscores like *\__alistairs_real_age* have a special meaning so we won’t do that until we understand the convention.

### Variables must be created before they are used.
If a variable doesn’t exist yet, or if the name has been mis-spelled, Python reports an error. (Unlike some languages, which “guess” a default value.)

In [1]:
x

NameError: name 'x' is not defined

In [2]:
x=5

### Variables can be used in calculations.
We can use variables in calculations just as if they were values.

In [3]:
y=7

In [4]:
x+y

12

### Use meaningful variable names.
Python doesn’t care what you call variables as long as they obey the rules (alphanumeric characters and the underscore).

Let's practice this with by combining variables with the print fuction

Typing the object name works but we can also use the function print

In [5]:
x

5

In [70]:
print(x)

5

Print is a powerful function because we can very easily add text to our variable

In [71]:
print("Gene_X is"+ x + "basepairs long")

TypeError: can only concatenate str (not "int") to str

We get an error here because our variable x is not a string (str), what is it?

In [74]:
type(x)

int

There are four "data types" that we will deal with and it is important to know which "type" your data is.

Some functions like print( ) only work on a certain type.

In [75]:
print("Gene_X is ", x, "basepairs long")

Gene_X is  5 basepairs long

### Lets get back to the **\n** (end of line) and **\t** (tab)  

We can get these to display correctly using our fuction print( )
Say we want to print three things, the length of our gene (x), the number of amino acids, and a BOOLEAN TRUE/FALSE to tell us if this gene is completely in-frame

In [76]:
GeneX="atgatcatcgatcgtagctgggctcttag"
len(GeneX)

29

In [77]:
x=len(GeneX)

In [78]:
print(x)

29

OK, now I want to calculate how many Amino Acids my gene GeneX (represented here as string) has

In [79]:
len(GeneX)/3

9.666666666666666

Next, I want to return TRUE if my GeneX has a perfect number of bases (i.e. I am in-frame) OR return FALSE if my gene is out of frame

In [80]:
len(GeneX)%3

2

In [81]:
len(GeneX)%3 ==0

False

Now I want to put this all together and print it to a tab delimited file
I can use my variable x which I created above OR  
I can just evaluate the expression inside the print( ) function  
Python doesn't really care

In [82]:
print("Gene_1\t", x ,"\t", x/3, "\t", len(GeneX)%3==0)

Gene_1	 29 	 9.666666666666666 	 False

In [83]:
print("Gene_1\t", x ,"\t", x//3, "\t", len(GeneX)%3==0)

Gene_1	 29 	 9 	 False

Essentially the Print function is a very valuable tool that allows you to output data into nice tab delmited files, or alternatively print onto a new line

In [84]:
print("Gene_1\n", len(GeneX),"\n",len(GeneX)//3,"\n",len(GeneX)%3==0)

Gene_1
 29
 9
 False

Let's make a tab delimited header and add this to our print statement above

In [85]:
header="Gene_name\tLength\tAA_length\tInFrame\n"
print(header,"Gene_1\t", x ,"\t", x//3, "\t", len(GeneX)%3==0)

Gene_name	Length	AA_length	InFrame
 Gene_1	 29 	 9 	 False

### Exercise

Learn more about the built-in functions for numbers min() , max() and round() using the help function or docstring
help( )

Use min and max to find the minimum and maximum number from this set of numbers

345,365,342,349,341,339,336,327,367,389,397

In [86]:
min(345,365,342,349,341,339,336,327,367,389,397)

327

In [87]:
max(345,365,342,349,341,339,336,327,367,389,397)

397

Can you find the minimum value of a string? integer? float?

"a","b","c","d","e"

"a", "b", 1 , 2, 0.5

"a", "b", "1" , "2", "0.5"

In [89]:
min("a","b","c","d","e")

'a'

In [90]:
max("a","b","c","d","e")

'e'

In [91]:
min("a","1","2","0.5")

'0.5'

In [92]:
max("a","1","2","0.5")

'a'

In [93]:
min("a", "b", 1 , 2, 0.5)

TypeError: '<' not supported between instances of 'int' and 'str'

### Exercise
#### Functions can take more than one input and have default values
For example the function round() automatically rounds to zero decimal places, how can we change this?

Hint use help( ) or shift+tab to learn moreExercise
Functions can take more than one input and have default values
For example the function round() automatically rounds to zero decimal places, how can we change this?

*Hint use help( ) or shift+tab to learn more*